.LT_top{
    height: 20px;
    display: flex;
    align-items: center;
    gap:2rem;
}
.LT_line_light{
    width: 160px;
    height: 2px;
    background-color: rgb(0, 0, 0);
}
.LT_line_dark{
    width: 160px;
    height: 2px;
    background-color: rgb(255, 255, 255);
}
.LT_text_dark{
    font-weight: bold;
    color: white;
}
.LT_text_light{
    font-weight: bold;
    color: rgb(0, 0, 0);
}