.T_Container{
    padding: 10rem 2rem;
    display: flex;
    flex-direction: column;
    gap:5rem;
}
.T_mid{
    display: flex;
    justify-content: space-between;
}
.T_title{
    color:white;
    font-weight: bold;
    font-size: clamp(1.5rem, 3.6vw + 1rem, 4rem);
}
.T_bottom{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}