::-webkit-scrollbar{
  width: 0.8rem;
  height: 1rem;
  /* padding-inline: 0.4rem; */
}
::-webkit-scrollbar-thumb{
  height: 1rem;
  background-color:hsl(210, 97%, 69%);
  border: 0.2rem solid #1D2339 ;
  border-radius: 0.5rem;
  padding-inline: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background-color:hsl(210, 87%, 74%);
}
::-webkit-scrollbar-thumb:active{
  background-color:hsl(210, 87%, 79%);
}
::-webkit-scrollbar-track{
  background-color: #1D2339;
  padding-inline: 5px;
  /* background-color: transparent; */
}
